@font-face {
    font-family: 'Wonju';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607161130@bold/bold/원주체 Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

/* 전체 레이아웃 확인용: 추후 삭제 */
*{
    font-family: 'wonju';
}

/* 전체 하이퍼링크 속성 */
a{
    text-decoration: none;
}

input{
    font-family:sans-serif;
}

select{
    font-family: sans-serif;
}

/*배경 색 지정*/
body{
    margin: 0 0px;
}
/* 헤더 */
#header{
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    background-color: white;
}

#header>div{
    justify-content: space-between;
    display: flex;
    margin: 0 10px;
}

#header>div>img{
    width: 200px;
    height: 50px;
}

#menu{
    margin: auto 0px;
}

#menu>a{
    margin: 0 10px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.button{
    background-color: pink;
    width: 115px;
    margin: auto 5px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.button>a{
    display: inline-block;
    margin: 5px auto;
    color: white;
}
/*헤더 끝*/


/*바디*/
#main{
    background-color: #f9f9f1;
}

#mainInner{
    width:1280px;
    margin:0 auto;
}

/*아이들*/
#title{
    font-weight: bolder;
    font-size: 40px;
    padding: 35px 0px 10px 10px;
}

#comment{
    font-size: 15px;
    color: gray;
    margin: 0 10px 10px 10px;
}

/*필터박스*/
#filterBox{
    display: flex;
    margin: 10px 10px 20px 10px;
}

#filterBox>select{
    margin: auto 15px auto 0px;
}

#filterBox>input{
    margin: auto 15px auto 0px;
}

#filterBox>button{
    height: 25px;
    margin:auto 20px;
}

/*petInfo*/
.row {
    margin:0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* = 1fr*4(전체가로공간을  4등분해서 4개열로 만듬) */
    gap: 10px; /* 카드 간격 */
}

.box{
    background-color: white;
    border: solid 1px gray;
}

.box>div{
    margin: 10px 10px;
}

.box>img{
    display: block;
    margin: 5px auto;
}

.petBoxTitle{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.name{
    font-size: 20px;
    font-weight: bolder;
}

.petTypeBox{
    margin:auto 0px;
    border:solid 2px pink;
    font-size: 15px;
    padding: 0 10px;
}

.petComment{
    margin: 5px 5px;
    color: gray;
    font-size: 15px;
}