* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Wonju';
}

@font-face { 
    font-family: 'Wonju';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607161130@bold/bold/원주체 Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Wonju';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607161130@bold/bold/원주체 Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

body {
    background-color: grey;
}

a {
    color: black;
    text-decoration: none;
}


/* 헤더 */
#header {
    width: 1280px;
    height: 110px;
    margin: 60px auto 0;
    padding: 0 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
        margin-top: 5px;
    margin-right: 10px;

}

#menu {
    display: flex;
    gap: 77px;
    margin-top: 5px;
        margin-right: 30px;

}

#menu a {
    font-size: 25px;
    font-weight: bold;
}

.button {
    padding: 15px 27px;
    background-color: pink;
    color: white;
    border: 1px solid pink;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
      margin-top: 5px;

}


/* 본문 */
#main {
    width: 1280px;
    height: 710px;
    margin: 0 auto;
    padding: 25px 40px;
    background-color: #f9f9f1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* 신청서 영역 */
.leftBox {
    width: 700px;
    
}

.leftBox h1 {
    margin-bottom: 10px;
    font-size: 35px;
    margin-left: 30px;
    font-weight: bold;
}


#shcode {
    font-family: sans-serif;
}

#shcode > option {
        font-family: sans-serif;


}

.explain {
    margin-bottom: 25px;
    color: black;
    font-size: 17px;
    margin-left: 30px;
}

/* 반려동물 경험 */
.expBox {
    align-items: center;
}

.expCheck {
    display: flex;
    align-items: center;
    gap: 7px;
}

.expCheck input {
    width: 10px;
    height: 10px;
   
}

.expCheck label {
    margin-right: 20px;
    font-size: 16px;
}

.box {
    display: flex;
    margin-bottom: 20px;
    
    
}

.box > label {
    width: 230px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
}

.box > input {
    width: 550px;
    height: 36px;
    padding: 5px 10px;
    border: 1px solid pink;
    border-radius: 9px;
    background-color: white;
}

.box select {
   width: 550px;
    height: 36px;
    padding: 5px 10px;
    border: 1px solid pink;
    border-radius: 9px;
    background-color: white;

}

/* 신청 사유 */
.reasonBox {
    display: flex;
    margin-bottom: 15px;
    margin-left: 30px;
}

.reasonBox > label {
    width: 205px;
    font-size: 17px;
    font-weight: bold;
}

.reasonBox textarea {
    width: 500px;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid pink;
    border-radius: 14px;
    
}


/* 개인정보 동의 */
.agreeBox {
    margin-left: 100px;
    margin-bottom: 15px;
}

.agreeBox input {
    margin-right: 5px;
    margin-left: 190px;
}

.agreeBox label {
    font-size: 14px;
}

.agreeBox a {
    color: pink;
    font-size: 14px;
}


/* 신청 버튼 */
.submitButton {
    display: block;
    width: 530px;
    height: 55px;
    margin-left: 180px;
    background-color: pink;
    color: white;
    border-radius: 10px;
    border: 1px solid pink;
    font-size: 20px;
    font-weight: bold;
}

/* 오른쪽 박스 */

.checkBox {
    width: 380px;
    height: 250px;
    margin-right: 50px;
    margin-top: 30px;
    background-color: #f9f9f1;
    border: 5px solid pink;
    border-radius:  25px;
    padding: 48px;
    font-size: 15px;
}
.checkBox > h2 {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 9px;
}

.checkBox > ul {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 16px;
    width: 390px;
}


.checkBox > h2,
.checkBox > ul {
    position: relative;
    top: -10px;
}

.checkBox > ul > li{ 
    margin-bottom: 9px;
}

.checkBox,
.question {
    padding-left: 48px;
    box-sizing: border-box;
}

.question {
    width: 380px;   
    height: 260px;
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    padding: 35px 50px;
    position: relative;
    overflow: hidden;
}

.question > h2 {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.question > p {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 9px;
}


.img {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 130px;
    height: auto;
}

.email > h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 9px;

    
}