
* {

}


.전체{
    width: 700px;
    margin: 0 auto;

}

#강아지이미지박스{
    width: 40%;  
    margin-left: 50px;  
}

#강아지이미지{
    width: 100%;
    display: flex;
}

.상단{
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content:space-between;
    background-color:antiquewhite

}

.상단2{
    width: 40%;
    margin-right: 50px;
}


.테이블{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 10px;
    font-weight : bold;  

}


.테이블 td{
    border: 2px solid black;
    padding: 15px;
}



.강아지{
    font-size: 15px;
    border: 2px solid pink;
    text-align: center;
    font-weight: bolder;
    color: rgb(216, 87, 108);
    background-color: #fbf5f5;
    border-radius: 10px;
    width: 60px;

    
}


.보리{
    font-size: 30px;
    font-weight: bolder;

}


.아이{
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.겁 {
    
}

.입양버튼박스{
    text-align: center;
}


.입양버튼{
    background-color: pink;
    border: 2px solid pink;

}


.좋아요버튼{
    text-align: center;
    margin-left: 20px;
}


.좋아요{
    background-color: white;
    border: 2px solid white;
    color: grey;
}

#교회캠프{
    width: 700px;
    margin: 0 auto;

}

.중간{
    background-color: rgb(245, 219, 223);
    width: 600px;
    height: 100px;
    justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
}


.하단{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
}






